body {
  background-image: url(../assets/background.png);
}

input { background: #fff!important; }

nav {
  .text-success {
    color: var(--success)!important;
    border-bottom-color: var(--success)!important;
  }
  .text-danger {
    color: var(--danger)!important;
    border-bottom-color: var(--danger)!important;
  }

  fieldset {
    margin-bottom: 0!important;
    display: flex;
    align-items: center;

    label {
      margin-right: 0.6rem;
      margin-bottom: 0!important;
    }
  }
}

.modal-bg { cursor: default!important; }

.card {
  background-color: #fff;
}

.modal {
  z-index: 101!important;
  margin: 0;
}

.info-modal {
  display: flex;
  flex-direction: column;

  #username-ok {
    margin-top: 16px;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%!important;
  border: var(--primary) solid 2px!important;
}

img.avatar {
  margin: auto;
}

span.avatar {
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.ranklist .modal-body > div {
  display: flex;
  align-items: center;

  .avatar {
    margin: 0!important;
  }
}

#messages {
  position: fixed;
  z-index: 100;
  bottom: 66px;
  left: 16px;
  text-shadow: 0 0 3px #fff;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin: 0;
    transition: 1s;
    display: flex;
    align-items: center;
    animation: opacity-animation 1s 8s 1 forwards;
  }

  &.active {
    p { opacity: 1!important; }
  }

  .avatar {
    margin-right: 6px;
  }

  .no-avatar {
    display: inline-block;
    width: 30px;
  }
}

.words-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  button {
    margin: 16px auto 0;
  }
}

#alerts {
  position: fixed;
  right: 20px;
  top: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 120;

  & > div {
    width: fit-content;
  }
}

#chat-actions {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 0 16px;
  z-index: 105;
  display: flex;
  max-width: 400px;

  input, button {
    height: 40px;
    margin: 0;
  }

  input {
    flex: 1;
  }

  button::before { content: '发送'; }

  &:not(.active) {
    button {
      border-top-left-radius: 185px 160px;
      border-top-right-radius: 200px 195px;
      border-bottom-right-radius: 160px 195px;
      border-bottom-left-radius: 185px 190px;

      &::before { content: '聊天'; }
    }

    input { display: none; }
  }

  &.active {
    flex-direction: row-reverse;
  }
}

.guess-text, .summary img {
  opacity: 0;
  animation: opacity-animation2 1s 3s 1 forwards;
}

#countdown {
  position: fixed;
  text-align: center;
  width: 100%;
  pointer-events: none;
  font-size: 30px;
  text-shadow: 0 0 3px #fff;
  z-index: 104;
  bottom: 20px;
}

@keyframes opacity-animation {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes opacity-animation2 {
  from { opacity: 0; }
  to { opacity: 1; }
}
